{% extends 'shoppinglist/base.html' %}

{%block content%}
<a href={%url 'create-store'%}>Back</a>

<h1>Current stores to go shopping</h1>
<ul>
    {% for store in stores_data %}
        <li>

            {% if store.important %}
            <b>
            {% endif %}
                <a href="{% url 'store-items' store.id%}">{{store.store_name}}</a>
            {% if store.important %}
            </b>
            {% endif %}
            <br>

            <a href="{% url 'edit-store' store.id%}">edit</a>
            <form method="POST">
                {% csrf_token %}
                <button name="delete" value="{{store.id}}"
                style="
                background: none!important;
                border: none;
                padding: 0!important;
                color: #069;
                text-decoration: underline;
                cursor: pointer;"
                >delete</button>
            </form>

        </li>
    {% endfor %}

</ul>

{% endblock %}