{% extends 'shoppinglist/base.html' %}

{%block content%}

<div class="row justify-content-center mt-5">
    <a href={%url 'create-store'%}>Back</a>
    <div class="col-md-10">

        {% if stores_data %}
             <h1>Current Stores{{ stores_data.count|pluralize }}</h1>
        {% else %}
            <h1>Current Stores</h1>
        {% endif %}
    </div>
</div>
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
    {% if stores_data %}
        <div class="list-group">
            {% for store in stores_data %}
                <a href="{% url 'store-items' store.id %}" class="list-group-item list-group-item-action{% if store.important %} list-group-item-danger{% endif %}"><b>{{ store.store_name }}</b></a>
                <div class="overlay-right d-flex">
                    <a class="btn btn-link" href="{% url 'edit-store' store.id%}">edit</a>
                    <form method="POST">
                        {% csrf_token %}
                        <button class="btn btn-link" name="delete" value="{{store.id}}">delete</button>
                    </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="text-center">
            <h2>Looks like you don't have any stores!</h2>
        <br>
        <a role="button" class="btn btn-primary" href="{% url 'create-store' %}">Create Store</a>
        </div>
    {% endif %}
    </div>
</div>

{% endblock %}