{% extends 'shoppinglist/base.html' %}

{%block content%}

<h1>Current stores to go shopping</h1>
<ul>
    {% for store in stores_data %}
        <li>
            {% if store.important %}<b>{% endif %}
                <h4><a href="{% url 'storeitemsview' store.id%}">{{store.store_name}}</a></h4>
            {% if store.important %}</b>{% endif %}
            <form method="POST">
                {% csrf_token %}
                <button name="delete" value="{{store.id}}">delete</button>
            </form>
        </li>
    {% endfor %}

</ul>

{% endblock %}