{% extends 'shoppinglist/base.html' %}

{%block content%}
<a href="{% url 'current-stores' %}">Back</a>
<h1>My Store Items</h1>
<ul>
    {%for item in items%}
        <p><li>{{item.name}}</li></p>
        <a href="{% url 'edit-store-item' item.store item.id %}">edit</a>
        <form method="POST">
            {% csrf_token %}
            <button name="delete" value="{{item.id}}"
             style="
             background: none!important;
             border: none;
             padding: 0!important;
             color: #069;
             text-decoration: underline;
             cursor: pointer;"
             >delete</button>
        </form>
    {% endfor %}
</ul>

<h3>Create Items</h3>
<form method="POST">
    {% csrf_token %}
    {{ item_form.as_p}}
    <button type="submit" name="create">Create</button>
</form>
{% endblock %}