{% extends 'shoppinglist/base.html' %}

{%block content%}

<h1>My Store Items</h1>
<ul>
    {%for item in items%}
        <h3><li>{{item.name}}</li></h3>
        <form method="POST">
            <button name="delete" value="{{item.id}}"
             style="
             background: none!important;
             border: none;
             padding: 0!important;
             color: #069;
             text-decoration: underline;
             cursor: pointer;"
             >delete</button>
        </form>
    {% endfor %}
</ul>

<h3>Create Items</h3>
<form method="POST">
    {% csrf_token %}
    {{ item_form.as_p}}
    <button type="submit" name="create">Create</button>
</form>

{% endblock %}